<MudDialog>
    <DialogContent>
        @if (!string.IsNullOrEmpty(Base64Pdf))
        {
            <embed src="@Base64Pdf" type="application/pdf" width="100%" height="500px" />
        }
        else
        {
            <p>PDF could not be loaded.</p>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
  
    [Parameter]
    public byte[] PdfBytes { get; set; } // Changed to PdfBytes
  
    private string Base64Pdf;

    [CascadingParameter]
    public MudDialogInstance MudDialog { get; set; }
  
    protected override void OnInitialized()
    {
        if (PdfBytes != null && PdfBytes.Length > 0)
        {
            string base64 = Convert.ToBase64String(PdfBytes);
            Base64Pdf = $"data:application/pdf;base64,{base64}"; // PDF MIME type
        }
    }
  
    private void Close() => MudDialog.Cancel();
}