<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Style sheets -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- The CSS for the plugin itself - required -->
    <link rel="stylesheet" type="text/css" href="css/FancyProductDesigner-all.min.css" />
    <script src="fpd/js/myDesigner.js"></script>
    <!-- Include required jQuery files -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui.min.js" type="text/javascript"></script>

    <!-- HTML5 canvas library - required -->
    <script src="js/fabric.min.js" type="text/javascript"></script>
    <!-- The plugin itself - required -->
    <script src="js/FancyProductDesigner-all.min.js" type="text/javascript"></script>

    <!-- Include Plus Add-On -->
    <script src="js/FancyProductDesignerPlus.min.js" type="text/javascript"></script>
    <script src="js/site.js"></script>
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    @* <script src="https://code.jquery.com/jquery-1.12.4.js"></script> *@
    @* <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> *@

    @* <script src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.js'></script> *@
    <!-- HTML5 canvas library - required -->
    @* <script src="js/fabric.min.js" type="text/javascript"></script> *@
    @* *@
    @* <script src='js/FancyProductDesigner-all-hive-v1.js'></script> *@
    @* *@
    @* <!-- Include Plus Add-On --> *@
    @* <script src="js/FancyProductDesignerPlus.min.js" type="text/javascript"></script> *@
    @* *@



    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="canvas/canvas.js"></script>
    <script src="js/shopifyTestInterop.js"></script>


</body>

</html>
